-> python is developed by  Guido van Rossum in 1991 it has become popular programming languages in the world near 2006.
-> java is released in 1995 by sun microsystem.

# Advantages of Python

In [ ]:
# shift + enter to run the cell


Developers can learn it quickly
Typically involves less code
syntax is easier to read
Utilized by every major technology company
huge amount of additional open-source libraries.

In [ ]:
#this is a comment

In [2]:
# Integers
a = 4
b = 5
c = 8
d = a+b+c
print(d)

17

In [3]:
# floating Point

a = 5.7
b = 9.0

sum = a + b

print(sum)

14.7

In [19]:
# string
hf = "Hetal"
print(hf)

Hetal

In [18]:
#List

#we have done is declaring different object type in the list so we can use it in long term with our progrming

#slising and dising of list
lst = ["hetal",2.3,5,[1,"I have done it",3]]
print(lst)

# if i have to print a specific element of my list

print(lst[2])
# if i have to print specific element of 4th list item

print(lst[3][1])

['hetal', 2.3, 5, [1, 'I have done it', 3]]
5
I have done it

In [73]:
#Assignment

#try all the list by default functions and send us the examples
#lst = ["hetal",2.3,5,[1,"I have done it",3]]
#print(lst)


lst = ["Hetal",5.23,786,[1,2,3,4,[4,5,"Hi This is Hetal"],9,8.4],786]
print(lst)
print("*********************************************************************************")
print(lst[3][4][2])
print("**********************************************************************************")
lst.append("This is all about creating awesome programs")
print(lst)
print("*****************************************************************************---------")
lst.copy()
print(lst)
print("-----------------------------------------------------------------------------------------")
lst.count(786)
print("-----------------------------------------------------------------------------------------")
lst.remove(786)
print(lst)
print("-----------------------------------------------------------------------------------------")

lst.insert([3][0],"hetu")
print(lst)
print("-----------------------------------------------------------------------------------------")
lst1=[1,2,3]
lst2=[4,5,6]
lst1.extend(lst2)
print(lst1)
print("-----------------------------------------------------------------------------------------")

index = lst.index(786)
print("index of 786 is:",index)
print("-----------------------------------------------------------------------------------------")

lst2.pop(2)
print(lst2)
print("-----------------------------------------------------------------------------------------")

lst.reverse()
print(lst)
lst.clear()
print(lst)
print("-----------------------------------------------------------------------------------------")

['Hetal', 5.23, 786, [1, 2, 3, 4, [4, 5, 'Hi This is Hetal'], 9, 8.4], 786]
*********************************************************************************
Hi This is Hetal
**********************************************************************************
['Hetal', 5.23, 786, [1, 2, 3, 4, [4, 5, 'Hi This is Hetal'], 9, 8.4], 786, 'This is all about creating awesome programs']
*****************************************************************************---------
['Hetal', 5.23, 786, [1, 2, 3, 4, [4, 5, 'Hi This is Hetal'], 9, 8.4], 786, 'This is all about creating awesome programs']
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
['Hetal', 5.23, [1, 2, 3, 4, [4, 5, 'Hi This is Hetal'], 9, 8.4], 786, 'This is all about creating awesome programs']
-----------------------------------------------------------------------------------------
['Hetal', 5.23, [1, 2, 3, 4, [4, 5, 'Hi This is Hetal'], 9, 8.4], 'hetu', 786, 'This is all about creating awesome programs']
-----------------------------------------------------------------------------------------
[1, 2, 3, 4, 5, 6]
-----------------------------------------------------------------------------------------
index of 786 is: 4
-----------------------------------------------------------------------------------------
[4, 5]
-----------------------------------------------------------------------------------------
['This is all about creating awesome programs', 786, 'hetu', [1, 2, 3, 4, [4, 5, 'Hi This is Hetal'], 9, 8.4], 5.23, 'Hetal']
[]
-----------------------------------------------------------------------------------------


# Dictionary

In [ ]:
#A dictionary represents a group of elemnets in the form of key value pairs.
#Dictionay in python is an unorderd collection.
#Dictionary are mutable so we can modify it's item without changing their identity.
#Dictionary are represend by using  curly bracket { }.
#A dictionary is created in the form of key-value pair where keys can't be repeated and must be immutable and vlues can be of #any data type and can be duplicated.
#keys are case sensitive.
#Ex:-
#stu = {001:"jagruti",002:"Hetal",003:"Honey"}

#While writing key we must follow the following rules:
# key should be unique.
# if we mention same key again, the old key will be overwritten.
# key should be immutable type .ex:integer, string, tuple
# we can not use list or dictionary AS A key.

In [69]:
# dictionary


dit = {"Hitechnology":"Hetal","GokulDham":"Jethalal","ashirvad":"Delhi","Godhra":"Honey"}

print(dit)
# to get a value out of the key
print(dit.items())

{'Hitechnology': 'Hetal', 'GokulDham': 'Jethalal', 'ashirvad': 'Delhi', 'Godhra': 'Honey'}
dict_items([('Hitechnology', 'Hetal'), ('GokulDham', 'Jethalal'), ('ashirvad', 'Delhi'), ('Godhra', 'Honey')])

In [89]:
dit = {'Name':'Hetal','Address':'Gandhinagar'}
print(dit)
print(dit['Name'])
dit.get('Name')
print("**********************************************")
keys = dit.keys()
print(keys)
print("**********************************************")
dit['Name']='Hetu'
print(dit)
print("**********************************************")
dit['age']=20
print(dit)
print("**********************************************")
print(dit.pop('age'))
print(dit)
print(dit.popitem())
print(dit)

{'Name': 'Hetal', 'Address': 'Gandhinagar'}
Hetal
**********************************************
dict_keys(['Name', 'Address'])
**********************************************
{'Name': 'Hetu', 'Address': 'Gandhinagar'}
**********************************************
{'Name': 'Hetu', 'Address': 'Gandhinagar', 'age': 20}
**********************************************
20
{'Name': 'Hetu', 'Address': 'Gandhinagar'}
('Address', 'Gandhinagar')
{'Name': 'Hetu'}

# strings

In [17]:
# By using split meythod in strings u can separate string in each word which is separated by space in a form of list
# this is not important that you can only spacitfy space, you can also specify (@,#,$,%,^,&,*) or any special caracter 
#or operator in split method
# example:

text = "this is Hetal Kalaswa and, i'm going, to master in python programing language"
n = text.split(" ") 
print(n)
print("******************************************************************************************")


str1 = "hetalkalaswa@gmail.com"
str1 = str1.split('@')
print(str1)

['this', 'is', 'Hetal', 'Kalaswa', 'and,', "i'm", 'going,', 'to', 'master', 'in', 'python', 'programing', 'language']
******************************************************************************************
['hetalkalaswa', 'gmail.com']

In [39]:
str1 = "This is Hetal and i'm Learnig Python with let's Upgrade ."
print(str1)
str4 = "hello"
a = str4.capitalize()
print(a)

b = str1.casefold()
print(b)

x = str1.center(50)
print(x)

q = str1.find('Hetal') # count including spaces
print(q)
# for use format method of string we must define key and value for example view following 

# this is how we use formate method"
str2 =" my name is {fname} and my age is {age}"
print(str2.format(fname='Hetal', age = 20))

c = str1.endswith(".")
print(c)
# This method is used for check whether this sting is ending with this symbol, character or not and returns it's true or false

str1.count('i')
# this method is used for one or more occurence of the character or word or substring

str3="h\te\tt\ta\tl"
str3.expandtabs(5)
print(str3)
#this method is used for expanding the tabs of the string following by 
#number which you passed as a parameter in eapantabs method

z = str1.encode()
print(z)

This is Hetal and i'm Learnig Python with let's Upgrade .
Hello
this is hetal and i'm learnig python with let's upgrade .
This is Hetal and i'm Learnig Python with let's Upgrade .
8
 my name is Hetal and my age is 20
True
h	e	t	a	l
b"This is Hetal and i'm Learnig Python with let's Upgrade ."

# tuples

In [ ]:
#tuples is a  collection which is odered and immutable.
# tuples are written in python using round brackets.
# u can write any data type in this tuple( int, str, float)

In [55]:
tup = ("hetal",203,'payal',(2,'hetal'),'shreya','shivani','hetal')

print(tup)
print(tup[2:])
print(tup[2:5])
# this will return items from position 2 to 5
# item of position is start from 0
# remember that this will not print the item at posiition 5
x=tup.count('hetal')
print(x)
z=tup.index('shreya')
print(z)

('hetal', 203, 'payal', (2, 'hetal'), 'shreya', 'shivani', 'hetal')
('payal', (2, 'hetal'), 'shreya', 'shivani', 'hetal')
('payal', (2, 'hetal'), 'shreya')
2
4

# sets

In [20]:
# sets is collection which is unindexed and unodered.
#sets  are written in curly brackets. 

new_set = {'aman','bhanu','sanjay'}
st = {'hetal','payal','divya','shivani'}
print(st)
st.add('riya')
print(st)
st1 = st.copy()
print(st1)
st.difference(new_set) # showing result of set st
st.difference_update(new_set)

{'divya', 'payal', 'shivani', 'hetal'}
{'riya', 'divya', 'payal', 'shivani', 'hetal'}
{'divya', 'payal', 'shivani', 'riya', 'hetal'}